!!!
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: 'ui.css'}
  %body
    .flags

      .flag.france
      .flag.italy
      .flag.belgium
      .flag.nigeria
      .flag.cote

      %hr

      .flag.germany
      .flag.holland
      .flag.russia
      .flag.columbia

      %hr

      .flag.england
      .flag.switzerland
      .flag.costarica
      .flag.japan

      %hr

      .flag.greece
        .a

      %hr

      .star


