!!!
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: 'ui.css'}
  %body
    .flags
      .flag.japan

      .flag.france
      .flag.italy
      .flag.belgium
      .flag.nigeria
      .flag.cote

      .flag.germany
      .flag.holland
      .flag.russia

      .flag.columbia
      .flag.england
      .flag.switzerland

      .flag.costarica
        .a

      .flag.greece
        - 5.times do
          .a
        .b

    .star


