@charset "UTF-8";
body {
  background-color: #eee;
  padding: 20px;
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue",  Helvetica, Arial, sans-serif, "微软雅黑"; }
  body a {
    color: #2C5D8D; }
  body hr {
    clear: both;
    border: 0 none;
    border-top: dashed 1px #aaa;
    margin: 30px 0; }
  body .intro {
    overflow: hidden; }
    body .intro .avatar {
      overflow: hidden;
      border-radius: 100px;
      border: solid 2px rgba(0, 0, 0, 0.3);
      width: 48px;
      height: 48px;
      float: left;
      margin-right: 30px; }
      body .intro .avatar img {
        width: 48px;
        height: 48px; }
    body .intro .desc {
      float: left;
      font-size: 32px;
      height: 52px;
      line-height: 52px; }

.flags {
  overflow: hidden;
  padding-bottom: 20px; }
  .flags .f {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px; }
    .flags .f .flag {
      width: 180px;
      height: 110px;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      position: relative;
      border-radius: 4px;
      overflow: hidden; }
    .flags .f .name {
      text-align: center;
      margin-top: 20px;
      font-weight: bold; }
    .flags .f .flag.france {
      box-sizing: border-box;
      border-left: solid 60px #002d67;
      border-right: solid 60px #ef4135;
      background-color: white; }
    .flags .f .flag.italy {
      box-sizing: border-box;
      border-left: solid 60px #008d46;
      border-right: solid 60px #d2232c;
      background-color: white; }
    .flags .f .flag.belgium {
      box-sizing: border-box;
      border-left: solid 60px black;
      border-right: solid 60px #ee0000;
      background-color: #ffde00; }
    .flags .f .flag.nigeria {
      box-sizing: border-box;
      border-left: solid 60px #008751;
      border-right: solid 60px #008751;
      background-color: white; }
    .flags .f .flag.cote {
      box-sizing: border-box;
      border-left: solid 60px #f77f00;
      border-right: solid 60px #009e60;
      background-color: white; }
    .flags .f .flag.germany {
      box-sizing: border-box;
      border-top: solid 36.66667px black;
      border-bottom: solid 36.66667px #ffd900;
      background-color: #ed1c24; }
    .flags .f .flag.holland {
      box-sizing: border-box;
      border-top: solid 36.66667px #a20e23;
      border-bottom: solid 36.66667px #1f4085;
      background-color: white; }
    .flags .f .flag.russia {
      box-sizing: border-box;
      border-top: solid 36.66667px white;
      border-bottom: solid 36.66667px red;
      background-color: blue; }
    .flags .f .flag.columbia {
      box-sizing: border-box;
      border-top: solid 36.66667px #fcd116;
      border-bottom: solid 36.66667px #ce1126;
      background-color: #003893;
      border-top-width: 55px;
      border-bottom-width: 27.5px; }
    .flags .f .flag.england:before {
      content: "";
      position: absolute;
      top: 44px;
      height: 22px;
      left: 0;
      right: 0;
      background-color: #CF142B; }
    .flags .f .flag.england:after {
      content: "";
      position: absolute;
      left: 79px;
      width: 22px;
      top: 0;
      bottom: 0;
      background-color: #CF142B; }
    .flags .f .flag.switzerland {
      background-color: #BD2925; }
      .flags .f .flag.switzerland:before {
        content: "";
        position: absolute;
        top: 44px;
        height: 22px;
        left: 53.7px;
        width: 72.6px;
        background-color: #fff; }
      .flags .f .flag.switzerland:after {
        content: "";
        position: absolute;
        top: 18.7px;
        height: 72.6px;
        left: 79px;
        width: 22px;
        background-color: #fff; }
    .flags .f .flag.costarica {
      background-color: #002B7F; }
      .flags .f .flag.costarica:before {
        content: "";
        position: absolute;
        top: 18.33333px;
        bottom: 18.33333px;
        left: 0;
        right: 0;
        box-sizing: border-box;
        border-top: solid 36.66667px white;
        border-bottom: solid 36.66667px white;
        background-color: #ce1126;
        border-top-width: 18.33333px;
        border-bottom-width: 18.33333px; }
    .flags .f .flag.japan:before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: #BE0026;
      display: block;
      position: absolute;
      top: 25px;
      left: 60px;
      border-radius: 60px; }
    .flags .f .flag.greece {
      background-color: #0061AA; }
      .flags .f .flag.greece:before {
        content: "";
        position: absolute;
        top: 12.22222px;
        height: 36.66667px;
        left: 0;
        right: 0;
        box-sizing: border-box;
        border-top: solid 36.66667px white;
        border-bottom: solid 36.66667px white;
        background-color: #0061aa;
        border-top-width: 12.22222px;
        border-bottom-width: 12.22222px; }
      .flags .f .flag.greece:after {
        content: "";
        position: absolute;
        bottom: 12.22222px;
        height: 36.66667px;
        left: 0;
        right: 0;
        box-sizing: border-box;
        border-top: solid 36.66667px white;
        border-bottom: solid 36.66667px white;
        background-color: #0061aa;
        border-top-width: 12.22222px;
        border-bottom-width: 12.22222px; }
      .flags .f .flag.greece .a {
        position: absolute;
        top: 0;
        left: 0;
        width: 67.5px;
        height: 61.11111px;
        background-color: #0061AA; }
        .flags .f .flag.greece .a:before {
          content: "";
          position: absolute;
          top: 50%;
          height: 12.22222px;
          left: 0;
          right: 0;
          background-color: #FFF;
          margin-top: -6.11111px; }
        .flags .f .flag.greece .a:after {
          content: "";
          position: absolute;
          left: 50%;
          width: 12.22222px;
          top: 0;
          bottom: 0;
          background-color: #FFF;
          margin-left: -6.11111px; }
    .flags .f .flag.cameroon {
      box-sizing: border-box;
      border-left: solid 60px #007a5e;
      border-right: solid 60px #fcd116;
      background-color: #ce1126; }
      .flags .f .flag.cameroon .a {
        width: 0px;
        height: 0px;
        border-top: solid #fcd116 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -285px;
        margin-top: 10.36475px;
        -webkit-transform: translate(14.68305px, -196.93016px) scale(0.05);
        -moz-transform: translate(14.68305px, -196.93016px) scale(0.05);
        -ms-transform: translate(14.68305px, -196.93016px) scale(0.05);
        -o-transform: translate(14.68305px, -196.93016px) scale(0.05);
        transform: translate(14.68305px, -196.93016px) scale(0.05);
        position: absolute;
        top: 40px;
        left: 15px; }
        .flags .f .flag.cameroon .a:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #fcd116 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.cameroon .a:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #fcd116 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
    .flags .f .flag.chile {
      box-sizing: border-box;
      border-bottom: solid 55px #d42e12; }
      .flags .f .flag.chile:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 55px;
        width: 55px;
        background-color: #0037A9; }
      .flags .f .flag.chile .a {
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: solid white 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -286.25px;
        margin-top: 9.50102px;
        -webkit-transform: translate(14.68305px, -197.79389px) scale(0.04583);
        -moz-transform: translate(14.68305px, -197.79389px) scale(0.04583);
        -ms-transform: translate(14.68305px, -197.79389px) scale(0.04583);
        -o-transform: translate(14.68305px, -197.79389px) scale(0.04583);
        transform: translate(14.68305px, -197.79389px) scale(0.04583);
        left: 13.75px;
        top: 13.75px; }
        .flags .f .flag.chile .a:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid white 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.chile .a:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid white 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
    .flags .f .flag.ghana {
      box-sizing: border-box;
      border-top: solid 36.66667px #ce1126;
      border-bottom: solid 36.66667px #006b3f;
      background-color: #fcd116; }
      .flags .f .flag.ghana .a {
        width: 0px;
        height: 0px;
        border-top: solid black 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -279px;
        margin-top: 14.51064px;
        -webkit-transform: translate(14.68305px, -192.78426px) scale(0.07);
        -moz-transform: translate(14.68305px, -192.78426px) scale(0.07);
        -ms-transform: translate(14.68305px, -192.78426px) scale(0.07);
        -o-transform: translate(14.68305px, -192.78426px) scale(0.07);
        transform: translate(14.68305px, -192.78426px) scale(0.07);
        position: absolute;
        left: 69px; }
        .flags .f .flag.ghana .a:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid black 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.ghana .a:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid black 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
    .flags .f .flag.honduras {
      box-sizing: border-box;
      border-top: solid 36.66667px #0047ba;
      border-bottom: solid 36.66667px #0047ba;
      background-color: white; }
      .flags .f .flag.honduras .a1 {
        width: 0px;
        height: 0px;
        border-top: solid #0047ba 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -295px;
        margin-top: 3.45492px;
        -webkit-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -moz-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -ms-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -o-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        transform: translate(14.68305px, -203.83999px) scale(0.01667);
        position: absolute;
        left: 85px;
        top: 15px; }
        .flags .f .flag.honduras .a1:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.honduras .a1:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
      .flags .f .flag.honduras .a2 {
        width: 0px;
        height: 0px;
        border-top: solid #0047ba 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -295px;
        margin-top: 3.45492px;
        -webkit-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -moz-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -ms-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -o-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        transform: translate(14.68305px, -203.83999px) scale(0.01667);
        position: absolute;
        left: 55px;
        top: 5px; }
        .flags .f .flag.honduras .a2:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.honduras .a2:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
      .flags .f .flag.honduras .a3 {
        width: 0px;
        height: 0px;
        border-top: solid #0047ba 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -295px;
        margin-top: 3.45492px;
        -webkit-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -moz-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -ms-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -o-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        transform: translate(14.68305px, -203.83999px) scale(0.01667);
        position: absolute;
        left: 55px;
        top: 25px; }
        .flags .f .flag.honduras .a3:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.honduras .a3:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
      .flags .f .flag.honduras .a4 {
        width: 0px;
        height: 0px;
        border-top: solid #0047ba 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -295px;
        margin-top: 3.45492px;
        -webkit-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -moz-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -ms-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -o-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        transform: translate(14.68305px, -203.83999px) scale(0.01667);
        position: absolute;
        left: 115px;
        top: 5px; }
        .flags .f .flag.honduras .a4:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.honduras .a4:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
      .flags .f .flag.honduras .a5 {
        width: 0px;
        height: 0px;
        border-top: solid #0047ba 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -295px;
        margin-top: 3.45492px;
        -webkit-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -moz-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -ms-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        -o-transform: translate(14.68305px, -203.83999px) scale(0.01667);
        transform: translate(14.68305px, -203.83999px) scale(0.01667);
        position: absolute;
        left: 115px;
        top: 25px; }
        .flags .f .flag.honduras .a5:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.honduras .a5:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid #0047ba 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
    .flags .f .flag.usa {
      background-color: #BF0A30; }
      .flags .f .flag.usa .l {
        position: absolute;
        border-top: solid 8.46154px white;
        border-bottom: solid 8.46154px white;
        height: 8.46154px;
        left: 0;
        right: 0; }
        .flags .f .flag.usa .l:nth-child(1) {
          top: 8.46154px; }
        .flags .f .flag.usa .l:nth-child(2) {
          top: 42.30769px; }
        .flags .f .flag.usa .l:nth-child(3) {
          top: 76.15385px; }
      .flags .f .flag.usa:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 59.23077px;
        width: 67.5px;
        background-color: #002D67;
        z-index: 1; }
      .flags .f .flag.usa .a {
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: solid white 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -296.93182px;
        margin-top: 2.12006px;
        -webkit-transform: translate(14.68305px, -205.17484px) scale(0.01023);
        -moz-transform: translate(14.68305px, -205.17484px) scale(0.01023);
        -ms-transform: translate(14.68305px, -205.17484px) scale(0.01023);
        -o-transform: translate(14.68305px, -205.17484px) scale(0.01023);
        transform: translate(14.68305px, -205.17484px) scale(0.01023);
        z-index: 2; }
        .flags .f .flag.usa .a:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid white 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.usa .a:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid white 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
        .flags .f .flag.usa .a.i1j1 {
          left: 3.06818px;
          top: 3.06818px; }
        .flags .f .flag.usa .a.i1j2 {
          left: 3.06818px;
          top: 14.91434px; }
        .flags .f .flag.usa .a.i1j3 {
          left: 3.06818px;
          top: 26.76049px; }
        .flags .f .flag.usa .a.i1j4 {
          left: 3.06818px;
          top: 38.60664px; }
        .flags .f .flag.usa .a.i1j5 {
          left: 3.06818px;
          top: 50.4528px; }
        .flags .f .flag.usa .a.i2j1 {
          left: 14.31818px;
          top: 3.06818px; }
        .flags .f .flag.usa .a.i2j2 {
          left: 14.31818px;
          top: 14.91434px; }
        .flags .f .flag.usa .a.i2j3 {
          left: 14.31818px;
          top: 26.76049px; }
        .flags .f .flag.usa .a.i2j4 {
          left: 14.31818px;
          top: 38.60664px; }
        .flags .f .flag.usa .a.i2j5 {
          left: 14.31818px;
          top: 50.4528px; }
        .flags .f .flag.usa .a.i3j1 {
          left: 25.56818px;
          top: 3.06818px; }
        .flags .f .flag.usa .a.i3j2 {
          left: 25.56818px;
          top: 14.91434px; }
        .flags .f .flag.usa .a.i3j3 {
          left: 25.56818px;
          top: 26.76049px; }
        .flags .f .flag.usa .a.i3j4 {
          left: 25.56818px;
          top: 38.60664px; }
        .flags .f .flag.usa .a.i3j5 {
          left: 25.56818px;
          top: 50.4528px; }
        .flags .f .flag.usa .a.i4j1 {
          left: 36.81818px;
          top: 3.06818px; }
        .flags .f .flag.usa .a.i4j2 {
          left: 36.81818px;
          top: 14.91434px; }
        .flags .f .flag.usa .a.i4j3 {
          left: 36.81818px;
          top: 26.76049px; }
        .flags .f .flag.usa .a.i4j4 {
          left: 36.81818px;
          top: 38.60664px; }
        .flags .f .flag.usa .a.i4j5 {
          left: 36.81818px;
          top: 50.4528px; }
        .flags .f .flag.usa .a.i5j1 {
          left: 48.06818px;
          top: 3.06818px; }
        .flags .f .flag.usa .a.i5j2 {
          left: 48.06818px;
          top: 14.91434px; }
        .flags .f .flag.usa .a.i5j3 {
          left: 48.06818px;
          top: 26.76049px; }
        .flags .f .flag.usa .a.i5j4 {
          left: 48.06818px;
          top: 38.60664px; }
        .flags .f .flag.usa .a.i5j5 {
          left: 48.06818px;
          top: 50.4528px; }
        .flags .f .flag.usa .a.i6j1 {
          left: 59.31818px;
          top: 3.06818px; }
        .flags .f .flag.usa .a.i6j2 {
          left: 59.31818px;
          top: 14.91434px; }
        .flags .f .flag.usa .a.i6j3 {
          left: 59.31818px;
          top: 26.76049px; }
        .flags .f .flag.usa .a.i6j4 {
          left: 59.31818px;
          top: 38.60664px; }
        .flags .f .flag.usa .a.i6j5 {
          left: 59.31818px;
          top: 50.4528px; }
      .flags .f .flag.usa .b {
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: solid white 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        margin-left: -296.93182px;
        margin-top: 2.12006px;
        -webkit-transform: translate(14.68305px, -205.17484px) scale(0.01023);
        -moz-transform: translate(14.68305px, -205.17484px) scale(0.01023);
        -ms-transform: translate(14.68305px, -205.17484px) scale(0.01023);
        -o-transform: translate(14.68305px, -205.17484px) scale(0.01023);
        transform: translate(14.68305px, -205.17484px) scale(0.01023);
        z-index: 2; }
        .flags .f .flag.usa .b:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid white 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -394.29833px;
          top: -286.47451px;
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -ms-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          transform: rotate(72deg); }
        .flags .f .flag.usa .b:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: solid white 207.2949px;
          border-bottom: solid transparent 207.2949px;
          border-left: solid transparent 285.31695px;
          border-right: solid transparent 285.31695px;
          left: -176.33558px;
          top: -286.47451px;
          -webkit-transform: rotate(-72deg);
          -moz-transform: rotate(-72deg);
          -ms-transform: rotate(-72deg);
          -o-transform: rotate(-72deg);
          transform: rotate(-72deg); }
        .flags .f .flag.usa .b.i1j1 {
          left: 9.20455px;
          top: 9.20455px; }
        .flags .f .flag.usa .b.i1j2 {
          left: 9.20455px;
          top: 21.0507px; }
        .flags .f .flag.usa .b.i1j3 {
          left: 9.20455px;
          top: 32.89685px; }
        .flags .f .flag.usa .b.i1j4 {
          left: 9.20455px;
          top: 44.74301px; }
        .flags .f .flag.usa .b.i2j1 {
          left: 20.45455px;
          top: 9.20455px; }
        .flags .f .flag.usa .b.i2j2 {
          left: 20.45455px;
          top: 21.0507px; }
        .flags .f .flag.usa .b.i2j3 {
          left: 20.45455px;
          top: 32.89685px; }
        .flags .f .flag.usa .b.i2j4 {
          left: 20.45455px;
          top: 44.74301px; }
        .flags .f .flag.usa .b.i3j1 {
          left: 31.70455px;
          top: 9.20455px; }
        .flags .f .flag.usa .b.i3j2 {
          left: 31.70455px;
          top: 21.0507px; }
        .flags .f .flag.usa .b.i3j3 {
          left: 31.70455px;
          top: 32.89685px; }
        .flags .f .flag.usa .b.i3j4 {
          left: 31.70455px;
          top: 44.74301px; }
        .flags .f .flag.usa .b.i4j1 {
          left: 42.95455px;
          top: 9.20455px; }
        .flags .f .flag.usa .b.i4j2 {
          left: 42.95455px;
          top: 21.0507px; }
        .flags .f .flag.usa .b.i4j3 {
          left: 42.95455px;
          top: 32.89685px; }
        .flags .f .flag.usa .b.i4j4 {
          left: 42.95455px;
          top: 44.74301px; }
        .flags .f .flag.usa .b.i5j1 {
          left: 54.20455px;
          top: 9.20455px; }
        .flags .f .flag.usa .b.i5j2 {
          left: 54.20455px;
          top: 21.0507px; }
        .flags .f .flag.usa .b.i5j3 {
          left: 54.20455px;
          top: 32.89685px; }
        .flags .f .flag.usa .b.i5j4 {
          left: 54.20455px;
          top: 44.74301px; }
    .flags .f .flag.algeria:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 81.81818px;
      background-color: #008638; }
    .flags .f .flag.algeria:after {
      content: "";
      position: absolute;
      height: 60px;
      width: 60px;
      background-color: #EE0000;
      border-radius: 120px;
      top: 25px;
      left: 60px; }
    .flags .f .flag.algeria .a {
      position: absolute;
      width: 51.42857px;
      height: 51.42857px;
      border-radius: 102.85714px;
      background-color: #fff;
      top: 29.28571px;
      left: 70px;
      z-index: 1;
      overflow: hidden; }
      .flags .f .flag.algeria .a:before {
        content: "";
        position: absolute;
        background-color: #008638;
        left: 0;
        top: 0;
        bottom: 0;
        width: 11.81818px; }
    .flags .f .flag.algeria .bb {
      position: absolute;
      top: 41.25px;
      left: 91.17857px;
      width: 27.5px;
      height: 27.5px;
      z-index: 2;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .flags .f .flag.algeria .b {
      width: 0px;
      height: 0px;
      border-top: solid #ee0000 207.2949px;
      border-bottom: solid transparent 207.2949px;
      border-left: solid transparent 285.31695px;
      border-right: solid transparent 285.31695px;
      margin-left: -286.25px;
      margin-top: 9.50102px;
      -webkit-transform: translate(14.68305px, -197.79389px) scale(0.04583);
      -moz-transform: translate(14.68305px, -197.79389px) scale(0.04583);
      -ms-transform: translate(14.68305px, -197.79389px) scale(0.04583);
      -o-transform: translate(14.68305px, -197.79389px) scale(0.04583);
      transform: translate(14.68305px, -197.79389px) scale(0.04583); }
      .flags .f .flag.algeria .b:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: solid #ee0000 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        left: -394.29833px;
        top: -286.47451px;
        -webkit-transform: rotate(72deg);
        -moz-transform: rotate(72deg);
        -ms-transform: rotate(72deg);
        -o-transform: rotate(72deg);
        transform: rotate(72deg); }
      .flags .f .flag.algeria .b:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: solid #ee0000 207.2949px;
        border-bottom: solid transparent 207.2949px;
        border-left: solid transparent 285.31695px;
        border-right: solid transparent 285.31695px;
        left: -176.33558px;
        top: -286.47451px;
        -webkit-transform: rotate(-72deg);
        -moz-transform: rotate(-72deg);
        -ms-transform: rotate(-72deg);
        -o-transform: rotate(-72deg);
        transform: rotate(-72deg); }

.starbox {
  width: 200px;
  height: 200px;
  border: solid 3px black;
  border-radius: 200px; }

.star {
  width: 0px;
  height: 0px;
  border-top: solid #0c69f8 207.2949px;
  border-bottom: solid transparent 207.2949px;
  border-left: solid transparent 285.31695px;
  border-right: solid transparent 285.31695px;
  margin-left: -200px;
  margin-top: 69.0983px;
  -webkit-transform: translate(14.68305px, -138.1966px) scale(0.33333);
  -moz-transform: translate(14.68305px, -138.1966px) scale(0.33333);
  -ms-transform: translate(14.68305px, -138.1966px) scale(0.33333);
  -o-transform: translate(14.68305px, -138.1966px) scale(0.33333);
  transform: translate(14.68305px, -138.1966px) scale(0.33333); }
  .star:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid #0c69f8 207.2949px;
    border-bottom: solid transparent 207.2949px;
    border-left: solid transparent 285.31695px;
    border-right: solid transparent 285.31695px;
    left: -394.29833px;
    top: -286.47451px;
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg); }
  .star:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid #0c69f8 207.2949px;
    border-bottom: solid transparent 207.2949px;
    border-left: solid transparent 285.31695px;
    border-right: solid transparent 285.31695px;
    left: -176.33558px;
    top: -286.47451px;
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg); }

.star1 {
  width: 0px;
  height: 0px;
  border-top: solid red 207.2949px;
  border-bottom: solid transparent 207.2949px;
  border-left: solid transparent 285.31695px;
  border-right: solid transparent 285.31695px;
  margin-left: -250px;
  margin-top: 34.54915px;
  -webkit-transform: translate(14.68305px, -172.74575px) scale(0.16667);
  -moz-transform: translate(14.68305px, -172.74575px) scale(0.16667);
  -ms-transform: translate(14.68305px, -172.74575px) scale(0.16667);
  -o-transform: translate(14.68305px, -172.74575px) scale(0.16667);
  transform: translate(14.68305px, -172.74575px) scale(0.16667); }
  .star1:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid red 207.2949px;
    border-bottom: solid transparent 207.2949px;
    border-left: solid transparent 285.31695px;
    border-right: solid transparent 285.31695px;
    left: -394.29833px;
    top: -286.47451px;
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg); }
  .star1:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid red 207.2949px;
    border-bottom: solid transparent 207.2949px;
    border-left: solid transparent 285.31695px;
    border-right: solid transparent 285.31695px;
    left: -176.33558px;
    top: -286.47451px;
    -webkit-transform: rotate(-72deg);
    -moz-transform: rotate(-72deg);
    -ms-transform: rotate(-72deg);
    -o-transform: rotate(-72deg);
    transform: rotate(-72deg); }
