body {
  background-color: #eee;
  padding: 20px;
  margin: 0; }

.flags {
  overflow: hidden;
  padding-bottom: 20px; }

.flag {
  width: 180px;
  height: 110px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  overflow: hidden; }

hr {
  clear: both;
  border: 0 none;
  border-top: dashed 1px #aaa;
  margin: 30px 0; }

.flag.france {
  box-sizing: border-box;
  border-left: solid 60px #002d67;
  border-right: solid 60px #ef4135;
  background-color: white; }

.flag.italy {
  box-sizing: border-box;
  border-left: solid 60px #008d46;
  border-right: solid 60px #d2232c;
  background-color: white; }

.flag.belgium {
  box-sizing: border-box;
  border-left: solid 60px black;
  border-right: solid 60px #ee0000;
  background-color: #ffde00; }

.flag.nigeria {
  box-sizing: border-box;
  border-left: solid 60px #008751;
  border-right: solid 60px #008751;
  background-color: white; }

.flag.cote {
  box-sizing: border-box;
  border-left: solid 60px #f77f00;
  border-right: solid 60px #009e60;
  background-color: white; }

.flag.germany {
  box-sizing: border-box;
  border-top: solid 36.66667px black;
  border-bottom: solid 36.66667px #ffd900;
  background-color: #ed1c24; }

.flag.holland {
  box-sizing: border-box;
  border-top: solid 36.66667px #a20e23;
  border-bottom: solid 36.66667px #1f4085;
  background-color: white; }

.flag.russia {
  box-sizing: border-box;
  border-top: solid 36.66667px white;
  border-bottom: solid 36.66667px red;
  background-color: blue; }

.flag.columbia {
  box-sizing: border-box;
  border-top: solid 36.66667px #fcd116;
  border-bottom: solid 36.66667px #ce1126;
  background-color: #003893;
  border-top-width: 55px;
  border-bottom-width: 27.5px; }

.flag.england:before {
  content: "";
  position: absolute;
  top: 44px;
  height: 22px;
  left: 0;
  right: 0;
  background-color: #CF142B; }
.flag.england:after {
  content: "";
  position: absolute;
  left: 79px;
  width: 22px;
  top: 0;
  bottom: 0;
  background-color: #CF142B; }

.flag.switzerland {
  background-color: #BD2925; }
  .flag.switzerland:before {
    content: "";
    position: absolute;
    top: 44px;
    height: 22px;
    left: 53.7px;
    width: 72.6px;
    background-color: #fff; }
  .flag.switzerland:after {
    content: "";
    position: absolute;
    top: 18.7px;
    height: 72.6px;
    left: 79px;
    width: 22px;
    background-color: #fff; }

.flag.costarica {
  background-color: #002B7F; }
  .flag.costarica:before {
    content: "";
    position: absolute;
    top: 18.33333px;
    bottom: 18.33333px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-top: solid 36.66667px white;
    border-bottom: solid 36.66667px white;
    background-color: #ce1126;
    border-top-width: 18.33333px;
    border-bottom-width: 18.33333px; }

.flag.japan:before {
  content: "";
  height: 60px;
  width: 60px;
  background-color: #BE0026;
  display: block;
  position: absolute;
  top: 25px;
  left: 60px;
  border-radius: 60px; }

.flag.greece {
  background-color: #0061AA; }
  .flag.greece:before {
    content: "";
    position: absolute;
    top: 12.22222px;
    height: 36.66667px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-top: solid 36.66667px white;
    border-bottom: solid 36.66667px white;
    background-color: #0061aa;
    border-top-width: 12.22222px;
    border-bottom-width: 12.22222px; }
  .flag.greece:after {
    content: "";
    position: absolute;
    bottom: 12.22222px;
    height: 36.66667px;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-top: solid 36.66667px white;
    border-bottom: solid 36.66667px white;
    background-color: #0061aa;
    border-top-width: 12.22222px;
    border-bottom-width: 12.22222px; }
  .flag.greece .a {
    position: absolute;
    top: 0;
    left: 0;
    width: 67.5px;
    height: 61.11111px;
    background-color: #0061AA; }
    .flag.greece .a:before {
      content: "";
      position: absolute;
      top: 50%;
      height: 12.22222px;
      left: 0;
      right: 0;
      background-color: #FFF;
      margin-top: -6.11111px; }
    .flag.greece .a:after {
      content: "";
      position: absolute;
      left: 50%;
      width: 12.22222px;
      top: 0;
      bottom: 0;
      background-color: #FFF;
      margin-left: -6.11111px; }

.star {
  width: 0;
  height: 0;
  border-top: solid 36.32713px red;
  border-bottom: solid 36.32713px transparent;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
  position: absolute;
  -webkit-transform: scale(0.2) translate(0, 36.32713px);
  margin-left: -40px;
  margin-top: -40px; }
  .star:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid 36.32713px red;
    border-bottom: solid 36.32713px transparent;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    left: -69.0983px;
    top: -50.20285px;
    -webkit-transform: rotate(72deg); }
  .star:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: solid 36.32713px red;
    border-bottom: solid 36.32713px transparent;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    left: -30.9017px;
    top: -50.20285px;
    -webkit-transform: rotate(-72deg); }
