body {
  background-color:#eee;
  padding:20px;
  margin: 0;
}

.flags {
  overflow: hidden;
  padding-bottom: 20px;
}

$flagw: 180px;
$flagh: 110px;  

.flag {
  width: $flagw;
  height: $flagh;
  background-color:#fff;
  box-shadow:0 1px 2px rgba(black, 0.07);
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius:4px;
  overflow: hidden;
}

hr {
  clear:both;
  border:0 none;
  border-top:dashed 1px #aaa;
  margin: 30px 0;
}

@mixin lmr($cl: #fff, $cm: #fff, $cr: #fff) {
  $w: $flagw / 3;
  box-sizing: border-box;
  border-left: solid $w $cl;
  border-right: solid $w $cr;
  background-color: $cm;
}

.flag.france {
  @include lmr($cl: #002D67, $cr: #EF4135);
}

.flag.italy {
  @include lmr($cl: #008D46, $cr: #D2232C);
}

.flag.belgium {
  @include lmr($cl: #000000, $cm: #FFDE00, $cr: #EE0000);
}

.flag.nigeria {
  @include lmr($cl: #008751, $cr: #008751);
}

.flag.cote {
  @include lmr($cl: #F77F00, $cr: #009E60);
}

@mixin tmb($ct: #fff, $cm: #fff, $cb: #fff) {
  $h: $flagh / 3;
  box-sizing: border-box;
  border-top: solid $h $ct;
  border-bottom: solid $h $cb;
  background-color: $cm;
}

.flag.germany {
  @include tmb($ct: #000000, $cm: #ED1C24, $cb: #FFD900);
}

.flag.holland {
  @include tmb($ct: #A20E23, $cb: #1F4085);
}

.flag.russia {
  @include tmb($ct: #FFFFFF, $cm: #0000FF, $cb: #FF0000);
}

.flag.columbia {
  @include tmb($ct: #FCD116, $cm: #003893, $cb: #CE1126);
  border-top-width: $flagh / 2;
  border-bottom-width: $flagh / 4;
}

.flag.england {
  $w: $flagh / 5;
  &:before {
    content: "";
    position: absolute;
    top:($flagh - $w)/2;
    height:$w;
    left:0;right:0;
    background-color: #CF142B;
  }
  &:after {
    content: "";
    position: absolute;
    left:($flagw - $w)/2;
    width: $w;
    top:0;bottom:0;
    background-color: #CF142B;
  }
}

.flag.switzerland {
  $w: $flagh / 5;
  $w1: $w * 3.3;
  background-color: #BD2925;
  &:before {
    content: "";
    position: absolute;
    top:($flagh - $w)/2;
    height:$w;
    left:($flagw - $w1)/2;
    width:$w1;
    background-color: #fff;
  }
  &:after {
    content: "";
    position: absolute;
    top:($flagh - $w1)/2;
    height: $w1;
    left:($flagw - $w)/2;
    width: $w;
    background-color: #fff;
  }
}

.flag.costarica {
  background-color: #002B7F;
  $w: $flagh / 6;

  &:before {
    content: "";
    position: absolute;
    top: $w;
    bottom: $w;
    left: 0; right: 0;
    @include tmb($cm: #CE1126);
    border-top-width: $w;
    border-bottom-width: $w;
  }
}

.flag.japan {
  $w: 60px;
  &:before {
    content: "";
    height:$w;
    width:$w;
    background-color:#BE0026;
    display: block;
    position: absolute;
    top:($flagh - $w)/2;
    left:($flagw - $w)/2; 
    border-radius:$w;
  }
}


.flag.greece {
  $w: $flagh / 9;
  $a-width: $flagw * 3/8;
  $a-height: $w * 5;
  $w1: $w;

  background-color: #0061AA;
  &:before {
    content: "";
    position: absolute;
    top: $w; height: $w * 3;
    left:0; right: 0;
    @include tmb($cm: #0061AA);
    border-top-width: $w;
    border-bottom-width: $w;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: $w; height: $w * 3;
    left:0; right: 0;
    @include tmb($cm: #0061AA);
    border-top-width: $w;
    border-bottom-width: $w;
  }

  .a {
    position: absolute;
    top:0;left:0;
    width: $a-width;
    height: $a-height;
    background-color: #0061AA;

    &:before {
      content:"";position: absolute;
      top: 50%;
      height: $w1;
      left:0;right:0;
      background-color: #FFF;
      margin-top: -$w1/2;
    }

    &:after {
      content:"";position: absolute;
      left:50%;
      width:$w1;
      top:0;bottom:0;
      background-color: #FFF;
      margin-left: -$w1/2;
    }
  }
}

.star {
  $c:red;
  $w:100px;

  $realw: 20px;

  $w1:$w * 0.726542528 / 2;

  $s:0.6180339887;

  width:0;
  height:0;

  border-top:solid $w1 $c;
  border-bottom:solid $w1 transparent;
  border-left:solid $w/2 transparent;
  border-right:solid $w/2 transparent;

  position:absolute;

  $p:$realw / 100px;
  -webkit-transform: scale($p) translate(0, $w1);
  margin-left: -(100px - $realw)/2;
  margin-top: -(100px - $realw)/2;


  &:before {
    content:"";
    display: block;
    position:absolute;

    width:0;
    height:0;

    border-top:solid $w1 $c;
    border-bottom:solid $w1 transparent;
    border-left:solid $w/2 transparent;
    border-right:solid $w/2 transparent;
    left:-$w/2 - $w*(1-$s) / 2;
    top:-$w1 - $w*(1-$s)/2*0.726542528;
    -webkit-transform: rotate(72deg);
  }

  &:after {
    content:"";
    display: block;
    position: absolute;

    width:0;
    height:0;

    border-top:solid $w1 $c;
    border-bottom:solid $w1 transparent;
    border-left:solid $w/2 transparent;
    border-right:solid $w/2 transparent;
    left:-$w/2 + $w*(1-$s) / 2;
    top:-$w1 - $w*(1-$s)/2*0.726542528;
    -webkit-transform: rotate(-72deg);
  }
}